name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: "^1.16.0"
      - uses: golangci/golangci-lint-action@v2.4.0
        with:
          version: v1.35
      - name: Unit testing
        run: go test ./...
